@(appYearForm: Form[controllers.forms.admin.AppYearForm])(complexGroupList: List[models.ComplexGroup])

@import helper._

@main(title = "グループ一覧画面") {

<script Language="JavaScript">
function getValue(selOBJ) {
    document.selectYear.submit();
    }
</script>

    <h1>グループ一覧画面:</h1>

    @form(action=CSRF(controllers.admin.routes.Group.gainGroupList), 'name -> "selectYear") {

        @* 採用年度 *@
        @select(
            field = appYearForm("applicationYear"),
            options = options(
                "-1" -> "20xx年度",
                "2016" -> "2016年度",
                "2015" -> "2015年度",
                "2014" -> "2014年度"
                      ),
            args = '_label -> "採用年度", 'onchange -> "getValue(this)"
        )
    }

    <hr>

    @if(complexGroupList != null) {

        <table border=1>
            <tr><td>グループ名</td><td>学生数</td><td>更新</td><td>メール</td><td>コメント</td><td>削除</td></tr>

            @for(i <- complexGroupList) {
                <tr>
                    <td>あああああ</td>
                    <td>20</td>
                    <td>@***<a href="@i.dataUrl">更新</a>***@</td>
                    <td>メール</td>
                    <td>コメント</td>
                    <td>削除</td>
                </tr>
            }
        </table>
    }


}





