@(passwordForm: Form[forms.student.PasswordForm])
@*****
@(passwordForm: forms.student.PasswordForm)
*****@
@import helper._

@views.html.student.main("パスワード変更"){

	@form(CSRF(controllers.student.routes.MyPage.index)) {
		<div>
			<p><input type="submit" class = "btn primary" value = "ホームに戻る"/></p>
		</div>
	}

	@form(CSRF(controllers.student.routes.Password.update)) {
		<h1>パスワードの変更</h1>
		@if(passwordForm.hasGlobalErrors) {
		    <p class="error">@passwordForm.globalError.message</p>
		}

		<div class="container">
			<table class="table-bordered" border="1">
				<tr>
					<td>現在のパスワード</td>
					<td>
						@inputPassword(passwordForm("oldPassword"), '_label -> "" , '_class -> "line-input", '_showConstraints -> false)
					</td>
				</tr>
				<tr>
					<td>新しいパスワード</td>
					<td>
						@inputPassword(passwordForm("newPassword"), '_label -> "" ,'_class -> "line-input", '_showConstraints -> false)
					</td>
				</tr>
				<tr>
					<td>新しいパスワード確認用</td>
					<td>
						@inputPassword(passwordForm("rePassword"), '_label -> "" ,'_class -> "line-input", '_showConstraints -> false)
					</td>
				</tr>
			</table>
			<input type="button" class = "btn primary" value = "キャンセル" onclick="javascript:history.back();"/>
			<input type="submit" class = "btn primary" value = "変更"/>
		</div>
	}


}